<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.schembri.alfred.gifcom.jamie.alfred-gifs</string>
	<key>connections</key>
	<dict>
		<key>A1B2C3D4-1111-1111-1111-000000000001</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E748AC93-0436-49C0-8354-321B42A2043C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1B2C3D4-1111-1111-1111-000000000003</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1B2C3D4-1111-1111-1111-000000000004</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E748AC93-0436-49C0-8354-321B42A2043C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1B2C3D4-1111-1111-1111-000000000003</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jamie Schembri</string>
	<key>description</key>
	<string>Search Klipy for GIFs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>GIF Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gif</string>
				<key>subtext</key>
				<string>Search Klipy for GIFs</string>
				<key>text</key>
				<string>Search GIFs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A1B2C3D4-1111-1111-1111-000000000001</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<true/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>2</integer>
				<key>inputfile</key>
				<string>search.py</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Searching Klipy...</string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>E748AC93-0436-49C0-8354-321B42A2043C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>GIF copied to clipboard</string>
				<key>title</key>
				<string>GIF Search</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A1B2C3D4-1111-1111-1111-000000000004</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>copy.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1B2C3D4-1111-1111-1111-000000000003</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Search Klipy for GIFs using the 'gif' keyword. Select a result to copy it to the clipboard.

Get a free API key at https://partner.klipy.com/api-keys</string>
	<key>uidata</key>
	<dict>
		<key>A1B2C3D4-1111-1111-1111-000000000001</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>A1B2C3D4-1111-1111-1111-000000000003</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>A1B2C3D4-1111-1111-1111-000000000004</key>
		<dict>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>E748AC93-0436-49C0-8354-321B42A2043C</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Your Klipy API Key</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get a free key from https://partner.klipy.com/api-keys</string>
			<key>label</key>
			<string>Klipy API Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>api_key</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>schembri</string>
</dict>
</plist>
